<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <button ion-button size="large" icon-start (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
        Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollTracker>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Details</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="container">
    <ion-card>
      <ion-slides #slides>
        <ion-slide *ngFor="let item of dataList">
          <img src="{{item.url}}" />
        </ion-slide>
      </ion-slides>
    </ion-card>
  </div>
</ion-content>
